
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}
.container{
}
input[type=submit] {
    width: 100%;
    background-color: #004C74;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #083a55;
  }
.line{
    background-color: antiquewhite;
     display: flex;
    align-items: center; 
    
    justify-content: space-between;
}
#line1{
    vertical-align: middle;
    width: 30%;
    height: 1px;
    background-color: black;
}
#line2{
    vertical-align: middle;
    width: 30%;
    height: 1px;
    background-color: black;
}